default:
  tags: 
  - react-spring-app

stages:
  - build

react-build:
  stage: build
  variables:
    DOCKER_TAG: "dahl8dh/hobbie-react-frontend:v1"
    DOCKERFILE_PATH: "./react-frontend/"
  script:
    - docker build -t "$DOCKER_TAG" "$DOCKERFILE_PATH"
    - docker push "$DOCKER_TAG"

spring-build:
  stage: build
  variables:
    DOCKER_TAG: "dahl8dh/hobbie-spring-backend:v1"
    DOCKERFILE_PATH: "./spring-backend/"
  script:
    - docker build -t "$DOCKER_TAG" "$DOCKERFILE_PATH"
    - docker push "$DOCKER_TAG"

