stages:
  - build

include:
  - project: 8tima18/docker-build-template
    ref: main
    file:
      - build-job.yml

react-build:
  extends: .build-docker-template
  stage: build
  variables:
    DOCKER_TAG: "dahl8dh/hobbie-react-frontend:v1"
    DOCKERFILE_PATH: "./react-frontend/"
  rules:
    - changes:
      - react-frontend/**/*

spring-build:
  extends: .build-docker-template
  stage: build
  variables:
    DOCKER_TAG: "dahl8dh/hobbie-spring-backend:v1"
    DOCKERFILE_PATH: "./spring-backend/"
  rules:
    - changes:
      - spring-backend/**/*
