stages:
  - test
  - build
  - deploy

react-test:
  stage: test
  image: docker.io/library/node:18-alpine
  variables:
    PROJECT_PATH: "./react-frontend"
  script:
    - echo "running React tests..."
    - cd $PROJECT_PATH
    - npm install
    - npm test
    - cd ..
  rules:
    - changes:
      - react-frontend/**/*
  allow_failure: false

spring-test:
  stage: test
  image: docker.io/library/maven:3.8.5-openjdk-17
  variables:
    PROJECT_PATH: "./spring-backend"
  script:
    - echo "running Spring tests..."
    - mvn test -f $PROJECT_PATH/pom.xml
  rules:
    - changes:
      - spring-backend/**/*
  allow_failure: false

include:
  - project: 8tima18/docker-build-template
    ref: main
    file:
      - build-job.yml

react-build:
  extends: .build-docker-template
  stage: build
  variables:
    DOCKER_REPO: "dahl8dh/hobbie-react-frontend"
    DOCKER_TAG: "v1"
    DOCKERFILE_PATH: "./react-frontend/"
  # rules:
  #   - changes:
  #     - react-frontend/**/*

spring-build:
  extends: .build-docker-template
  stage: build
  variables:
    DOCKER_REPO: "dahl8dh/hobbie-spring-backend"
    DOCKER_TAG: "v1"
    DOCKERFILE_PATH: "./spring-backend/"
  # rules:
  #   - changes:
  #     - spring-backend/**/*

deploy:
  stage: deploy
  image: alpine:latest
  needs:
    - react-build
    - spring-build
  before_script:
  - apk add --update openssh
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY_BASE64" | base64 -d | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan $VM_IPADDRESS >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  script:
  - scp $DOTENV_FILE "$SSH_USER@$VM_IPADDRESS":~/deploy/.env
  - scp docker-compose.yml "$SSH_USER@$VM_IPADDRESS":~/deploy/docker-compose.yml
  - ssh $SSH_USER@$VM_IPADDRESS "
    cd ~/deploy/ &&
    "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USER" --password-stdin &&
    docker compose down &&
    docker compose up --remove-orphans --force-recreate -d"
